---
import Navbar2, {
  type NavLink,
} from "@/components/starwind-pro/navbar-02/Navbar2.astro";
import LanguagePicker from "@/components/ui/LanguagePicker.astro";
import { fetchNavigation } from "@/lib/strapi/fetchNavigation";

const { lang } = Astro.params;

const mockedData: NavLink[] = [
  {
    title: "Features",
    items: [
      { title: "Analytics", path: "#analytics" },
      { title: "Integrations", path: "#integrations" },
      { title: "Team", path: "#team" },
    ],
  },
  { title: "Pricing", path: "#pricing" },
  { title: "About", path: "#about" },
  { title: "Blog", path: "#blog" },
];

let navigation: NavLink[] = mockedData;

const data = (await fetchNavigation({
  navigationId: "/api/navigation/render/navigation",
  locale: lang,
  type: "TREE",
})) as any;

if (data?.length) navigation = data;
---

<div class="relative isolate flex min-h-svh flex-col bg-neutral-50 lg:bg-neutral-100">
  <Navbar2 siteName="Mi Web" links={navigation} />

  <!-- Main content -->
  <main class="flex flex-1 flex-col pb-2 lg:px-2">
    <div class="grow p-6 lg:rounded-lg lg:bg-neutral-50 lg:p-10 lg:shadow-xs lg:ring-1 lg:ring-neutral-950/5">
      <div class="w-full">
        <slot />
      </div>
    </div>
  </main>
  
  <!-- Language Picker -->
  <div class="absolute bottom-0 right-0 p-4">
    <LanguagePicker />
  </div>
</div>
