---
import { Languages } from "@lucide/astro";
import Button from "../starwind/button";
import {
  Dropdown,
  DropdownContent,
  DropdownItem,
  DropdownTrigger,
} from "../starwind/dropdown";
import { languages } from "@/i18n/ui";

interface Props {
  translatedUrls?: Record<string, string>;
}

const { translatedUrls } = Astro.props as Props;
---

<Dropdown>
  <DropdownTrigger asChild>
    <Button variant="default" size="icon"><Languages /></Button>
  </DropdownTrigger>
  <DropdownContent side="top" align="end">
    {Object.entries(languages).map(([lang, label]) => (
      <DropdownItem as="a" href={translatedUrls?.[lang] ?? `/${lang}/`}>
        {label}
      </DropdownItem>
    ))}
  </DropdownContent>
</Dropdown>
